set nocompatible              " be iMproved, required
filetype off                  " required

set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()

{% for plugin in vim_plugins %}
Plugin '{{ plugin }}'
{% endfor %}

call vundle#end()            " required
filetype plugin indent on    " required

syntax enable
set background=dark
set t_Co=256
set linespace=2
set laststatus=2
set paste
set splitbelow
set splitright
colorscheme molokai
highlight Normal ctermbg=NONE
highlight nonText ctermbg=NONE

let g:airline_powerline_fonts=1

map <C-n> :NERDTreeToggle<CR>
map <C-g> :Gbrowse<CR>

